body {
    height: 800px;
    background-image: url(https://f.vividscreen.info/soft/2d46ca7220ae589b9ae06d6a03c0cdd9/Mikasa-Ackerman-Attack-on-Titan-1920x1200.jpg);
    background-size: cover;
    background-size: 1600px 850p;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }